NODE_ENV=development
PORT=3000
API_URL=http://localhost:3000

POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_HOST=gcb_postgres # Must be the name of the postgres container
POSTGRES_PORT=5432
POSTGRES_DB=mydatabase
